.footer {
  padding: var(--space-xl) max(24px, calc(50% - 360px));
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  border-top: 1px solid var(--color-border);
  color: var(--color-text-secondary);
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 18px;
}

.copyright {
  padding-left: 5px;
  font-size: 17px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-text-primary);
  text-decoration: none;
}

.logo span {
  font-weight: 600;
  color: var(--color-brand-600);
}

.logoText {
  font-size: 23px;
}

.logoIcon {
  height: 30px;
}

.divider {
  height: 60%;
  border-left: 1px solid var(--color-neutral-300);
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.email {
  display: flex;
  justify-content: flex-end;
}

.socialLinks {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 15px;
}

.socialIcon {
  height: 25px;
  transition: 0.25s;
}

@media only screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .copyright {
    text-align: center;
  }

  .email {
    justify-content: center;
  }

  .socialLinks {
    justify-content: center;
  }
}
