* {
  /* font-family: 'Didact Gothic', sans-serif; */
  /* font-family: 'Istok Web', sans-serif; */
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: rgb(242, 242, 242);
  --main-text-color: rgb(45, 45, 45);
  --bold-text-color:  rgb(42, 98, 172);
  --border-color: var(--bold-text-color);
}

body {
  background-color: var(--bg-color);
}

a, u, ul, li {
  text-decoration: none;
  list-style-type: none;
}

p {
  font-size: 20px;
}

/* Navbar */
header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 1000px;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--main-text-color);
}
.navbar__logo span {
  color: var(--bold-text-color);
}
.navbar__logo p {
  gap: 0;
  font-size: 23px;
}
.navbar__logo-icon {
  height: 30px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar__menu-options {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  gap: 15px;
  font-weight: bold;
}
.navbar__menu-item {
  color: var(--main-text-color);
  transition: 0.3s;
}
.navbar__menu-item:hover {
  color: var(--bold-text-color);
}
.navbar__menu-vl {
  border-left: 3px solid var(--main-text-color);
  height: 30px;
}
.navbar__menu-contact {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}
.navbar__menu-contact-icon {
  height: 25px;
  transition: 0.25s;
  display: flex;
}
.navbar__menu-contact-icon:hover {
  filter: invert(0.28) sepia(1) saturate(5.6) hue-rotate(184deg);
}

/* Main */
main {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto auto;
  row-gap: 30px;
}

/* About */
.about {
  padding: 20px 15% 20px 0;
  margin-top: 100px;
  grid-column: 2;
  grid-row: 1;
}
.about__title {
  margin-bottom: 15px;
  color: var(--bold-text-color);
}
.about__content br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 30%;
}

/* Work */
.work {
  grid-column: 2;
  grid-row: 2;
  padding: 20px 0;
}
.work__title {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  color: var(--bold-text-color);
}
.work__description {
  text-align: right;
  padding: 0 0 0 15%;
}
.work__stack {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.work__stack-section {
  border: solid var(--border-color) 2px;
  border-radius: 10px;
  padding: 5px 10px;
  min-width: 200px;
}
.work__stack-section-title {
  margin-bottom: 10px;
}
.work__stack-section-content {

}

/* Footer */
footer {
  text-align: center;
  display: none;
}

/* TODO: Mobile and Bigsize */
