* {
  /* font-family: 'Didact Gothic', sans-serif; */
  /* font-family: 'Istok Web', sans-serif; */
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: rgb(242, 242, 242);
  --main-text-color: rgb(45, 45, 45);
  --bold-text-color:  rgb(42, 98, 172);
}

body {
  background-color: var(--bg-color);
}

a, u, ul, li {
  text-decoration: none;
}

/* Navbar */
header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 1000px;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--main-text-color);
}
.navbar__logo span {
  color: var(--bold-text-color);
}
.navbar__logo p {
  gap: 0;
  font-size: 23px;
}
.navbar__logo-icon {
  height: 30px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar__menu-options {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  gap: 15px;
  font-weight: bold;
}
.navbar__menu-item {
  color: var(--main-text-color);
  transition: 0.3s;
}
.navbar__menu-item:hover {
  color: var(--bold-text-color);
}
.navbar__menu-vl {
  border-left: 3px solid var(--main-text-color);
  height: 30px;
}
.navbar__menu-contact {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}
.navbar__menu-contact-icon {
  height: 25px;
  transition: 0.25s;
  display: flex;
}
.navbar__menu-contact-icon:hover {
  filter: invert(0.28) sepia(1) saturate(5.6) hue-rotate(184deg);
}

/* About */
.about {
  padding: 20px 30%;
  margin-top: 100px;
}
.about__title {
  margin-bottom: 15px;
}
.about__content br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 30%;
}

p {
  font-size: 20px;
}

footer {
  text-align: center;
  display: none;
}
