* {
  /* font-family: 'Didact Gothic', sans-serif; */
  /* font-family: 'Istok Web', sans-serif; */
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: rgb(242, 242, 242);
  --color-black: rgb(45, 45, 45);
  --color-blue:  rgb(42, 98, 172);
  --color-warning: rgb(255, 66, 66);
  --color-success: rgb(0, 196, 137);
}

body {
  background-color: var(--color-white);
}

a, u, ul, li {
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

p {
  font-size: 20px;
}

/* Navbar */
header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 1000px;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-black);
}
.navbar__logo span {
  color: var(--color-blue);
}
.navbar__logo p {
  gap: 0;
  font-size: 23px;
}
.navbar__logo-icon {
  height: 30px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar__menu-options {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  gap: 5px;
  font-weight: bold;
}
.navbar__menu-item {
  color: var(--color-black);
  transition: 0.3s;
  border: 1px solid var(--color-white);
  border-radius: 7px;
  padding: 2px 10px;
}
.navbar__menu-item:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.navbar__menu-vl {
  border-left: 3px solid var(--color-black);
  height: 30px;
}
.navbar__menu-contact {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}
.navbar__menu-contact-icon {
  height: 25px;
  transition: 0.25s;
  display: flex;
}
.navbar__menu-contact-icon:hover {
  filter: invert(0.28) sepia(1) saturate(5.6) hue-rotate(184deg);
}
.mobile-menu {
  display: none;
}
.mobile-navbar {
  display: none;
}

/* Main */
main {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: repeat(3, auto);
  row-gap: 30px;
}

/* About */
.about {
  padding: 20px 15% 20px 0;
  margin-top: 100px;
  grid-column: 2;
  grid-row: 1;
}
.about__title {
  margin-bottom: 15px;
  color: var(--color-blue);
}
.about__content br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 30%;
}

/* Work */
.work {
  grid-column: 2;
  grid-row: 2;
  padding: 20px 0;
}
.work__title {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  color: var(--color-blue);
}
.work__description {
  text-align: right;
  padding: 0 0 0 15%;
}
.work__stack {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
.work__stack-section {
  border: solid var(--color-blue) 2px;
  border-radius: 10px;
  padding: 5px 10px 15px 10px;
  min-width: 200px;
  min-height: 200px;
}
.work__stack-section-title {
  margin-bottom: 20px;
  text-align: center;
}
.work__stack-section-content img {
  width: 30px;
}
.work__stack-section-content li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.work__stack-section-content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

/* Contact */
.contact {
  padding: 20px 0;
  margin-top: 50px;
  grid-column: 2;
  grid-row: 3;
}
.contact__title {
  margin-bottom: 20px;
  color: var(--color-blue);
  text-align: center;
}
.contact__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  padding: 0 10%;
}
.contact__form-field {
  display: flex;
  flex-direction: column;
}
.contact__form-field-val {
  color: var(--color-warning);
}
.contact__form-name {
  grid-row: 1;
}
.contact__form-company {
  grid-row: 2;
}
.contact__form-email {
  grid-row: 3;
}
.contact__form-message {
  grid-row: 4;
}
.contact__form-success {
  grid-row: 5;
  background-color: var(--color-success);
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: var(--color-white);
  border-radius: 7px;
  display: none;
  transition: 0.3s;
}
.contact__form-fail {
  grid-row: 5;
  background-color: var(--color-warning);
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: var(--color-white);
  border-radius: 7px;
  display: none;
  transition: 0.3s;
}
.contact__form label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18.72px;
}
.contact__form input {
  border: 2px solid var(--color-blue);
  border-radius: 10px;
  height: 30px;
  padding: 0 10px;
  outline: none;
  font-size: 18px;
}
.contact__form textarea {
  border: 2px solid var(--color-blue);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-size: 18px;
}
.contact__form button {
  grid-row: 6;
  justify-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid var(--color-blue);
  background: var(--color-blue);
  border-radius: 7px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 20px;
  outline: none;
  transition: 0.3s;
}
.contact__form button:hover {
  opacity: 0.8;
}

/* Footer */
footer {
  margin-top: 50px;
  padding: 20px 20%;
  height: 100px;
  background-color: var(--color-blue);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}
.footer__description {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__description > p {
  font-size: 17px;
  padding-left: 5px;
}
.footer__description-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-white);
}
.footer__description-logo span {
  font-weight: 600;
}
.footer__description-logo p {
  gap: 0;
  font-size: 23px;
}
.footer__description-logo-icon {
  height: 30px;
  filter: invert(0.9) sepia(1) saturate(0.4) hue-rotate(170deg);
}
.footer__vl {
  border-left: 3px solid var(--color-white);
  height: 60%;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__contact-email {
  display: flex;
  justify-content: flex-end;
}
.footer__contact ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 15px;
  width: 100%;
}
.footer__contact-icon {
  height: 25px;
  transition: 0.25s;
  display: flex;
  filter: invert(1);
}


/* WIP: Responsive */
@media only screen and (max-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  /* WIP: mobile menu */
  .mobile-menu {
    background-color: var(--color-blue);
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    bottom: 5vh;
    right: 7vw;
    opacity: 0.8;
    transition: 0.3s;
    border: 1px solid var(--color-white);
  }
  .mobile-menu__i {
    width: 35px;
    height: 5px;
    background-color: var(--color-white);
    margin: 6px 0;
    transition: 0.4s;
  }
  .drop-menu .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .drop-menu .bar2 {
    opacity: 0;
  }
  .drop-menu .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .mobile-navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: var(--color-blue);
    padding: 30px;
    width: 200px;
    top: 0;
    right: 0;
    opacity: 0.92;
    border-radius: 0 0 0 10px;
    transition: 0.3s;
  }
  .mobile-navbar.active {
    top: -420px;
    right: -220px;
  }
  .mobile-navbar-options {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 23px;
    gap: 10px;
    font-weight: bold;
    text-align: center;
  }
  .mobile-navbar-item {
    color: var(--color-white);
  }
  .mobile-navbar-vl {
    border-left: none;
    border-bottom: 3px solid var(--color-white);
    width: 90px;
  }
  .mobile-navbar-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 25px;
  }
  .mobile-navbar-contact-icon {
    height: 30px;
    display: flex;
    filter: invert(1);
  }

  .about {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 425px) {
  /* DONE: main */
  main {
    grid-template-columns: 1fr;
  }
  .about {
    padding: 20px;
    grid-column: 1;
  }
  .work {
    padding: 20px;
    grid-column: 1;
  }
  .work__title {
    justify-content: flex-start;
  }
  .work__description {
    padding: 0;
    text-align: left;
  }
  .contact {
    grid-column: 1;
  }
  .contact__form input {
    max-width: 100%;
    margin: 0;
  }
  .contact__form textarea {
    max-width: 100%;
    margin: 0;
  }

  /* DONE: footer */
  footer {
    flex-direction: column;
    height: 200px;
  }
  .footer__vl {
    display: none;
  }
  .footer__description > p {
    text-align: center;
  }
  .footer__contact-email {
    justify-content: center;
  }
  .footer__contact ul {
    justify-content: center;
  }
}
